/* General Styles */
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
    box-sizing: border-box;
}

header {
    max-width: 100%;
    height: 150px;
    background-color: #f9794e;
    color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
.container {
    max-width: 1200px;  
    margin: 0 auto;     
    padding: 0 15px;    
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin-right: 20px;
    
}

nav ul li {
    display: inline;
    margin: 0;
    
}

nav ul li a {
    color: white;
    text-decoration: none;

    margin-right: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.button {
    background-color:#f9794e;
    color: white;
    padding: 8px 15px;
    border-radius: 3px;
    border: 0.5px solid #f9794e;;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: transparent;
    color: white;
}


/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure content doesn't spill out of the section */
    text-align: center;
}

.carousel-inner {
    height: 100%; /* Ensure carousel takes up full height */
}

.carousel-item {
    height: 100%; /* Ensure each carousel item takes full height */
}

/* Ensure images inside carousel items are consistent in size */
.carousel-item img {
    
    object-fit: cover; /* Ensure images cover the area without stretching */
    object-position:  center; 
}

/* Text and other content within the hero section */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10; /* Ensure text is above the images */
}
/* Login & Signup Modals */
.modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size:2rem ;
}

.modal-header {
    border-bottom: 1px solid #ccc;
}

.modal-header h5 {
    font-size: 1.5rem;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.modal-body input{
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.modal-body button {
    background-color: #f9794e;;
    color: white;
    border: none;
    
    
}

.modal-body button:hover {
    background-color: #9e2b04;
}

/* Menu Section */
.menu {
    padding: 50px 20px;
    background-color:#e0e0e0 ;
    text-align: center;
    margin-top: 10px;
}

.menu h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.menu-items-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 0 10px;
    
    gap:20px;
    
}

/* Menu Item Layout */
.menu-item {
    display: grid;
    
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    
}
/* image styling */
.menu-item-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-item-details {
    text-align: left;
}

.menu-item-details h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.menu-item-details p {
    font-size: 1rem;
    color: #555;
}

.menu-item-details strong {
    font-size: 1.2rem;
    color: #f9794e;;
}

.order-now {
    background-color: #f9794e;;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.order-now:hover {
    background-color: #9e2b04;
}


/* About Us Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #e0e0e0;
}

.about h {
    font-size: 2.5rem;
    }

.about h2{
text-align: center;
}
.about h3{
    text-align: left;
    color: #333;
    margin-bottom:10px;
}
.box {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }
.about p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

/* Contact Section */
.contact {
    padding: 40px 20px;
    text-align: center;
    background-color: #e0e0e0;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.contact label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.contact button {
    background-color: #c13d11;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    
    
}

.contact button:hover {
    background-color: #9e2b04;
    
}



/* Footer Section */
footer {
    background-color: #f9794e;;
    color: white;
    padding: 10px 10px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.address, .opening-hours, .social-media {
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.address h3, .opening-hours h3, .social-media h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.address p, .opening-hours p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icon {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.social-icon:hover {
    color: #ffcc00;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 20px;
}
/* Media Queries for Different Device Sizes */

/* For tablets and below */
@media (max-width: 1024px) {

    header nav ul {
        text-align: center;
        display: block;
    }

    .menu-items-container {
        grid-template-columns: repeat(3, 1fr); /* Adjust for tablet screen size */
    }

    .menu-item {
        padding: 15px;
        margin: 5px;
    }
    img{
        width: 100%;
        height: auto;
    }

    .footer-content {
        flex-direction: row;
        align-items: center;
    }

    .address, .opening-hours, .social-media {
        text-align: center;
        margin-bottom: 20px;
    }
}


    
    /* For mobile screens */
    @media (max-width: 768px) {
        header {
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .logo-container {
            flex: 1;
        }
    
        nav ul {
            display: flex;
            justify-content: center;
            flex: 2;
        }
    
        /* Adjusting the menu items container */
        .menu-items-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;
        }
    
        /* Adjust the individual menu item cards */
        .menu-item {
            width: 48%;  /* Ensure items fit better when there are more than 4 cards */
            padding: 15px;
            margin: 5px 0; /* Reduce spacing */
            overflow: hidden;
            height: 350px; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        /* Adjusting the image size inside the menu items */
        .menu-item img {
            width: 100%;
            height: 180px; 
            object-fit: cover; /* Ensure image doesn't stretch */
            object-position: center; /* Ensure image is centered */
            margin-bottom: 15px; /* Space between image and text */
        }
    
        /* Adjust text content layout */
        .menu-item-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1; /* Allow text to fill remaining space */
        }
    
        .about, .contact {
            padding: 30px 15px;
        }
    }
        footer .footer-content {
            display: flex; /* Ensure flexbox is enabled */
            flex-direction: row; /* Align the items in a row */
            align-items: center; /* Vertically center the content */
            justify-content: space-between; /* Space out the items equally */
            text-align: center; /* Center text horizontally */
            gap: 20px; /* Add some space between the items */
            flex-wrap: wrap; /* Allow wrapping for smaller screens */
            margin-bottom: 10px; /* Optional: to reduce the gap between the footer and the next section */
        }
        
        footer .social-links {
            display: flex; /* Use flexbox for social media icons */
            justify-content: center; /* Center the social media links */
            gap: 15px; /* Space between the social media icons */
        }
        
        footer .address, footer .opening-hours, footer .social-media {
            flex: 1; /* Allow items to grow and fill space evenly */
            min-width: 150px; /* Set a minimum width to avoid extreme shrinking on smaller screens */
            text-align: center; /* Ensure text is centered */
        }
        
    
    /* For even smaller screens */
    @media (max-width: 480px) {
        .menu-items-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    
        .menu-item {
            width: 90%;  /* Make cards take up more width on small screens */
            height: 300px; /* Adjust card height for small screens */
            margin: 5px;
        }
    
        .menu-item img {
            height: 150px; /* Adjust image height for small screens */
        }
    }
    
/* For smaller mobile screens */
@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }

    .logo-container {
        flex: 1;
        justify-content: flex-start;
        width: 100%;
    }

    nav ul {
        flex: 2;
        justify-content: center;
    }

    .menu-items-container {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        padding: 0;
    }

    .menu-item {
        margin: 5px;
    }

    .footer-content {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    footer .social-links {
        flex-direction: row;
    }
}